<div class="container">
    <nav>
        <h1>Messagerie</h1>
        <br>
        <div class="row">
            <div class="d-grid gap-2 col mx-auto"><button class="btn btn-danger"><a href="{{path('message_home')}}" class="text-decoration-none text-light">Accueil</a></button></div>
            <div class="d-grid gap-2 col mx-auto"><button class="btn btn-danger"><a href="{{path('message_send')}}" class="text-decoration-none text-light">Nouveau message</a></button></div>
            <div class="d-grid gap-2 col mx-auto"><button class="btn btn-danger"><a href="{{path('message_received')}}" class="text-decoration-none text-light">Boite de réception</a></button></div>
            <div class="d-grid gap-2 col mx-auto"><button class="btn btn-danger"><a href="{{path('message_sent')}}" class="text-decoration-none text-light">Boite d'envoie</a></button></div>
            <div class="d-grid gap-2 col mx-auto"><button class="btn btn-danger"><a href="{{path('message_garbage')}}" class="text-decoration-none text-light">Corbeille</a></button></div>
        </div>
    </nav>
</div>