{% extends 'base.html.twig' %}

{% block title %}Dossiers médicaux
{% endblock %}

{% block body %}
	{% include "_partials/_nav_top.html.twig" %}
	{% include "_partials/_nav_patient.html.twig" %}
	<div class="container">
        <h2 class="mt-2 text-center">Dossiers médicaux</h2>
        <hr>
        <div class="border border-danger rounded bg-danger-subtle p-3">
        <div class="row">
            <div class="col fs-5 border">Patient :</div>
            <div class="col fs-5 border">Date :</div>
            <div class="col fs-5 border">Raison de l'appel :</div>
            <div class="col fs-5 border">Medecin :</div>
            <div class="col fs-5 border">Diver</div>
        </div>
        <hr>
        {% for consultation in consultations %}

            <div class="row mt-1">
                <div class="col fs-5">{{consultation.patientsIdentities.lastname}} {{consultation.patientsIdentities.firstname}}</div>
                <div class="col">{{consultation.createdAt|date ("d/m/Y H:i", "CEST")}}</div>
                <div class="col">{{consultation.title}}</div>
                <div class="col">{{consultation.practitioner.lastname}} {{consultation.practitioner.firstname}}</div>
                <div class="col"><div class="col">{{consultation.createdAt|date ("H:i", "CEST")}}</div></div>
                <hr>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}