{% extends 'base.html.twig' %}

{% block title %}Profil de {{app.user.firstname}} {{app.user.lastname}} 
{% endblock %}

{% block body %}
	{% include "_partials/_nav_top.html.twig" %}

    <div class="container">
        <h1>Profil de {{app.user.firstname}} {{app.user.lastname}}</h1>
        <hr>

        <div class="row">
            <div class="col">Nom:</div>
            <div class="col">{{app.user.lastname}}</div>
        </div>
        <div class="row">
            <div class="col">Prénom:</div>
            <div class="col">{{app.user.firstname}}</div>
        </div>
        <div class="row">
            <div class="col">Date de naissance:</div>
            <div class="col">{{app.user.birthDate|date ('d/m/Y')}}</div>
        </div>
        <div class="row">
            <div class="col">Grade:</div>
            <div class="col">{{app.user.jobGrades.label|capitalize}}</div>
        </div>
        <div class="row">
            <div class="col">En exercice depuis le:</div>
            <div class="col">{{app.user.createdAt|date('d/m/Y')}}</div>
        </div>
    </div>
{% endblock %}