{% extends 'base.html.twig' %}

{% block title %}Detail utilisateur
{% endblock %}

{% block body %}
    {% include "_partials/_nav_top.html.twig" %}
	{% include "_partials/_nav_staff.html.twig" %}
    <div class="container">
    <br>                
        <h1>Detail</h1>
        <div>
            <div class="row">
                <div class="col-2">Nom:</div>
                <div class="col-4">{{user.lastname}} {{user.firstname}}</div>
            </div>
        </div>
        
        <p></p>
        <p>{{user.createdAt|date("d/m/Y")}}</p>
        <p>{{ "now"|date('d/m/Y')}}</p>
        <p>{{user.jobGrades.label|capitalize}}</p>
        <p>{{user.jobGrades.salary}} $/ quart d'heure</p>
        <button class="btn btn-info"><a class="text-decoration-none text-light" href="#">Promouvoir</a></button>
    </div>
{% endblock %}