{% extends 'base.html.twig' %}

{% block title %}Corbeille
{% endblock %}

{% block body %}
	{% include "_partials/_nav_top.html.twig" %}
	{% include "_partials/_nav_message.html.twig" %}
	<div class="container mt-2">
		<br>
		<h2>Corbeille</h2>
		<p>Vous avez reçu
			
			messages</p>
		<div class="row mb-2">
			<div class="col-3 fs-5">De</div>
			<div class="col-3 fs-5">Sujet</div>
			<div class="col-3 fs-5">Date</div>
			<div class="col-3 fs-5">Actions</div>
		</div>
		<div class="row">
			{% for message in app.user.received %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
					{% set bold = "fw-bold" %}
				{% endif %}

				{% if message.isArchived == 1 %}

					<div class="col-3 {{bold}}">{{message.sender.lastname}}</div>
					<div class="col-3 {{bold}}">
						<a class="text-decoration-none text-dark" href="{{path('message_read', {id: message.id})}}">{{message.title}}</a>
					</div>
					<div class="col-3 {{bold}}">{{message.createdAt|date}}</div>
					<div class="col-3">
						<button class="btn btn-outline-danger btn-sm m-1">
							<a class="text-decoration-none text-dark" href="{{path('message_confirmDelete', {id: message.id})}}">Supprimer
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewbox="0 0 16 16">
									<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
								</svg>
							</a>
						</button>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	{# -- Modal pour confirmation de déplacement vres la corbeille -- #}

	<div class="modal fade modal-dialog modal-dialog-centered" id="garbageModal" tabindex="-1" aria-labelledby="garbageModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="garbageModalLabel">Déplacer vers la corbeille</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					Etes vous sur de vouloir déplacer cette élément vers la corbeille ?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<a href="#">
						<button type="button" class="btn btn-primary">Supprimer</button>
					</a>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
